@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

header, footer {
  background-color: rgba(0, 0, 0, 0.1); /* subtle transparent dark */
  color: #111111; /* dark text */
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  padding: 1rem 2rem;
}

body {
  background-color: #121212; /* dark background */
  color: #eee; /* light text */
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

a {
  transition: color 0.3s ease;
}

a:hover {
  color: black; /* primary orange highlight on hover */
}

